[Unit]
Description=Moose2 IRC Bot
PartOf=moose-irc2.service
ReloadPropagatedFrom=moose-irc2.service
After=network-online.target
Wants=network-online.target

[Service]
User=moose
Type=simple
ExecStart=/usr/local/bin/moose-irc2 -c /etc/moose-irc2/%i.json
Restart=always
RestartSec=1min

[Install]
WantedBy=moose-irc2.service
